In [14]:
i=1
while i<9:
    if (i%2 == 0):
        print(i, "is an even number")

    else:
        print(i,"is not an even number")
    i=i+1

1 is not an even number
2 is an even number
3 is not an even number
4 is an even number
5 is not an even number
6 is an even number
7 is not an even number
8 is an even number

In [9]:

for i in range(1,20):
    if (a%i == 0):
        print( i,"is not a prime number")
        
    else:
        print(i," is a prime")

1 is not a prime number
2  is a prime
3 is not a prime number
4  is a prime
5  is a prime
6  is a prime
7  is a prime
8  is a prime
9  is a prime
10  is a prime
11  is a prime
12  is a prime
13  is a prime
14  is a prime
15  is a prime
16  is a prime
17  is a prime
18  is a prime
19  is a prime

In [ ]:
l = ["java","python","c","c++","R"]
r = l.sort(reverse)
print(r)

In [ ]:
# https://github.com/programiz/python-course

In [33]:
# https://github.com/programiz/python-course

In [4]:
l = ["java","python","c","c++","R"]

for course in l:
    if course == "c":
        continue
    print(course)

java
python
c++
R

In [3]:
print = "py"

In [4]:
lower, upper, special, digit = 0, 0, 0, 0
password = input("Enter your password")
if (len(password) >= 6):
    for i in password:
        for word in password.split():
            if(word[0].isupper()):
                upper += 1
        if(i.islower()):
            lower += 1
        if(i.isdigit()):
            digit += 1
        if(i == '@' or i == '$' or i == '_' or i == '#'):
            special += 1
else:
    print("Password should be more than 6 characters")
if (lower >= 1 and upper >= 1 and special >= 1 and digit >= 1):
    print("Valid Password")
else:
    print("Invalid Password")

Enter your password34
Password should be more than 6 characters
Invalid Password

In [5]:
del print

In [8]:
txt = "The best things in life are free!"
print("expensive" in txt)

False

In [21]:
a = "Shravan is learning python"
if'python' in a:
    print("python is there in the sentence")
elif 'learning' in a:
    print("Learning is not there in the sentence")
else:
    print("Waste fellow")

Learning is there in the sentence

In [18]:
a = "shravan is learning python"
print(a.upper())

SHRAVAN IS LEARNING PYTHON

In [1]:
e = input("enter a name ")

enter a name sjravam

In [27]:
l =[4,6,"google",3.5]
print(l[2])

google

In [43]:

p = ["python", [2, 0, 1, 5]]

print(p[1][3])

5

In [78]:
l =[4,6,"google",3.5,4,4]
m = [4,6,"rough","thik","pore"]
l.extend(m)
r = print(len(l))

if len(l) = 10:
    print("there is no place")
    else:
        print("go away")

SyntaxError: invalid syntax (3176587651.py, line 6)

In [90]:
c = ['Dollar', 'Euro', 'Pound']
c([1]:)
print(c)

SyntaxError: invalid syntax (2827671613.py, line 2)

In [106]:
n = [10, 20, 30, 40, 50, 60, 70, 80, 90,11,12,13,14,15,16,17,18]
n[1:-1:4]

[20, 60, 11, 15]

In [125]:
 numsz = [10, 20, 30, 40, 50, 60, 70, 80, 90]
 numsz[4:5:1]

[50]

In [135]:
>>> nums = [10, 20, 30, 40, 50, 60, 70, 80, 90,11,12,13,14,15,16,17,18]
len(nums)
>>> nums[3:15:4] = [0,1,2,3]
>>> nums

ValueError: attempt to assign sequence of size 4 to extended slice of size 3

In [154]:
>>> nums = [10, 20, 30, 40]
>>> nums[1:3:2]=[56]
print(nums)

[10, 56, 30, 40]

In [168]:

nums = [10, 20, 30, 40, 50, 60, 70, 80, 90,11,12,13,14,15,16,17,18]
a = input("enter 1st nu")
b = input("enter 2nd number")

 nums[1:8:5] = [a,b]
    nums

IndentationError: unexpected indent (3301244542.py, line 5)

In [178]:
dict1={1:"Python",2:"Java",3:"Ruby",4:"Scala"}
print(dict1.pop(2))

Java

In [179]:
print(dict1)

{1: 'Python', 3: 'Ruby', 4: 'Scala'}

In [182]:
dict2 ={'a':"Apple", 'b':"Boy",'c':"Cat",'d':"Dog"}
print(dict2)

{'a': 'Apple', 'b': 'Boy', 'c': 'Cat', 'd': 'Dog'}

In [191]:
a = 0
b = 10
if(a==0) or (b==0):
    if (a>b):
        print("a is greater than b")
    if (a<b):
        print("a is lesser than b")   
    if(a==b):
        print("a is equal to b")
    else:
        print("a or b is invalid")
        
else:
    print("a and b are equal")

a is lesser than b
a or b is invalid

In [197]:
for i in range(12):
    print(i+2)

2
3
4
5
6
7
8
9
10
11
12
13

In [226]:
n = int(input("enter a number"))
print("table for", n)

for i in range(1,11):
    print(n,"X", i,"=", i * n )

enter a number11
table for 11
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

In [209]:
i=11
while (i>10 and i<15):
    print(i)
    i=i+1

11
12
13
14

In [225]:
i=0
while (i/2):
    print(i)
    i=i+1

In [264]:

i=1
while (i<10):
    if(i%2 == 0): 
        print(i, "is an even number")
    else:
          print(i, "is an odd number")
    i=i+1

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number

In [262]:
x = int(input("Enter a number: "))
i = 1

while i <= x:
    if i % 2 == 0:
        print(i, end=" ")
    i = i + 1

Enter a number: 4
2 4

In [269]:
a = int(input("Enter the upper number"))
b = int(input("Enter the lower number"))

for x in range(a,b+1):
    if x%2 == 0:
        print(x, "is an even number")
    else:
        print(x, "is an odd number")

Enter the upper number4
Enter the lower number6
4 is an even number
5 is an odd number
6 is an even number

In [23]:
a = int(input("Enter the upper number"))
b = int(input("Enter the lower number"))

for x in range(a,b+1):

        for i in range(2,x):
            if x%i == 0:
                break
            
        else:
            print(x,end= " ")

Enter the upper number1
Enter the lower number20
1 2 3 5 7 11 13 17 19

In [22]:
number = int(input("Enter any number:"))
if number>0:
    for i in range(2,number):
        if (number%i)==0:
            print(number, "is not prime number")
            break
    else:
            print(number, "is prime number")

Enter any number:1
1 is prime number

a = 1
b = 20
for i in range(1,10):
    i+=1
    for j in range(a,b):
           if i%j==0:
            print(i, "is a not a prime number")
            break

In [30]:
for x in range(1,20):
    for i in range (3,x):
        if x%i ==0:
            break
    else:
            print(x,"is a prime number")

1 is a prime number
2 is a prime number
3 is a prime number
4 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number

In [68]:

for i in range(1,6):
    for j in range(1,i+1):
 
        print(j,end=" ")

1 1 2 1 2 3 1 2 3 4 1 2 3 4 5

In [62]:
print("Number Pattern ")


row = 4
for i in range(1, row + 1):

    for j in range(1, i + 1):
        print(j, end=' ')
 
    print("")

Number Pattern
1
1 2
1 2 3
1 2 3 4

In [84]:
i = int(10)
for i in range(1,s):
    for j in range(1,i):
        r = sum(s,j)
        print(r)

TypeError: 'int' object is not iterable

In [99]:

s = 0
n = int(input("Enter number "))

for i in range(1, n + 1,):

    s = i +1

print("Sum is: ", s)

Enter number 3
Sum is:  4

In [126]:

n = int(input("enter table"))
i = 1
while i < 11:
    a = i*n
    print(n,"X", i, "=", a)
    i += 1

enter table4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [135]:
r = int(input("Enter the table number "))
for i in range(1,11):
    s = i*r
    print(r,"X", i ,"=" ,s)

Enter the table number 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [158]:

#The number must be divisible by five
#If the number is greater than 150, then skip it and move to the next number
#If the number is greater than 500, then stop the loop

for n in [12, 75, 150, 180, 145, 525, 50]:
    if (n%5 ==0 and n>150):
          if (n>500):
     
            print(n)
            n +=1

525

In [195]:

for i in range(1,6):
    print(i)
    for j in range(1,i,-1):
        print(j,end=" ")
       
    print()

1

2

3

4

5

In [3]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [16]:
l = [10, 20, 30, 40, 50]
r = reversed(l)
for l in r:
    print(l)

50
40
30
20
10

In [15]:
l = [10, 20, 30, 40, 50]
# reverse list
nl = reversed(list1)
# iterate reversed list
for l in nl:
    print(l)

50
40
30
20
10

In [45]:
l = [10, 20, 30, 40, 50]
print(l[0:-4:2])

[10]

In [48]:
l = [10, 20, 30, 40, 50]
r = print(list(reversed(l)))
for r in l:
    print(l)

[50, 40, 30, 20, 10]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [52]:
for num in range(-10,1):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0

In [53]:
# https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/

In [64]:

for i in range(1,20):

    for j in range(2,i):
        i>0
        if i%j==0:
            print(i,"is not a prime")
            break
           
        else:
            print(i, "is a prime")

3 is a prime
4 is not a prime
5 is a prime
5 is a prime
5 is a prime
6 is not a prime
7 is a prime
7 is a prime
7 is a prime
7 is a prime
7 is a prime
8 is not a prime
9 is a prime
9 is not a prime
10 is not a prime
11 is a prime
11 is a prime
11 is a prime
11 is a prime
11 is a prime
11 is a prime
11 is a prime
11 is a prime
11 is a prime
12 is not a prime
13 is a prime
13 is a prime
13 is a prime
13 is a prime
13 is a prime
13 is a prime
13 is a prime
13 is a prime
13 is a prime
13 is a prime
13 is a prime
14 is not a prime
15 is a prime
15 is not a prime
16 is not a prime
17 is a prime
17 is a prime
17 is a prime
17 is a prime
17 is a prime
17 is a prime
17 is a prime
17 is a prime
17 is a prime
17 is a prime
17 is a prime
17 is a prime
17 is a prime
17 is a prime
17 is a prime
18 is not a prime
19 is a prime
19 is a prime
19 is a prime
19 is a prime
19 is a prime
19 is a prime
19 is a prime
19 is a prime
19 is a prime
19 is a prime
19 is a prime
19 is a prime
19 is a prime
19 is a prime
19 is a prime
19 is a prime
19 is a prime

In [70]:
start = 55
end = 100
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):


        for i in range(2, num):
 
            if (num % i) == 0:
          
                break
        else:
            print(num)

Prime numbers between 55 and 100 are:
59
61
67
71
73
79
83
89
97

In [99]:

for i in range(1,20):
    

    for j in range(2,i):
        i>1
   
        if i%j==0:
            break
    else:
        print(i,end=" ")

1 2 3 5 7 11 13 17 19

In [113]:
num1, num2 = 0, 1

print("Fibonacci sequence:")
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1
0  1
0  1
0  1
0  1
0  1
0  1
0  1
0  1
0  1

In [126]:
n=9
fact = 1
for i in range(1,n):
    fact = i*fact
    print(fact)

1
2
6
24
120
720
5040
40320

In [135]:
num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    # run loop 5 times
    for i in range(1, num + 1):
        # multiply factorial by current number
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

In [162]:
s = 0

for i in range(1,10):
    if i%2 == 0:
        s=s +1
        print(i)
print("we have", s, "even Numbers")

2
4
6
8
we have 4 even Numbers

In [167]:
for i in range(1,20):
    for j in range(2,i):
        if (i%j==0):
            break
    else:
        print(i,"is a prime")

1 is a prime
2 is a prime
3 is a prime
5 is a prime
7 is a prime
11 is a prime
13 is a prime
17 is a prime
19 is a prime

In [14]:
l = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in l:
    for j in i:
        print(l[1:j:2])
        j=j+1

TypeError: 'int' object is not iterable

In [13]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

In [52]:
s = 1
for i in range(1,7):

    print(i*i*i)

1
8
27
64
125
216

In [156]:
for i in range(0,6):
    print(i*"* ")
for i in range(5,0,-1):
    print(i*"* ")

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [132]:
for i in range(0,-5):
    print(i*"*")

In [110]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
for i in range(-6,-1):
    print(i*"*")

In [201]:
n = 9
print("Pattern 1")
for a1 in range(1, (n+1)//2 + 1): #from row 1 to 5
    for a2 in range((n+1)//2 - a1):
        print(" ", end = "")
    for a3 in range((a1*2)-1):
        print("*", end = "")
    print()

for a1 in range((n+1)//2 + 1, n + 1): #from row 6 to 9
    for a2 in range(a1 - (n+1)//2):
        print(" ", end = "")
    for a3 in range((n+1 - a1)*2 - 1):
        print("*", end = "")
    print()

Pattern 1
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [199]:
for i in range(1,10):
    for j in range(1,i+1):
        print(j,end=" ")
        
    print("  ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [226]:

n = 3
s == 1

for i in range(n):
    if n >10:
        break
    else:
        print(n/2)

1.5
1.5
1.5

In [229]:
s=0

for i in range(10):

    n=int(input("Enter number"))

    s=s+n

print("Average of 10 numbers is ",s/10)

KeyboardInterrupt: Interrupted by user

for i in range(4):
    print(i)

In [230]:
for i in range(100,501):
    if (i%11 == 0 and i%2 !=0):
        print(i)

121
143
165
187
209
231
253
275
297
319
341
363
385
407
429
451
473
495

In [251]:
for i in range(5,0,-1):
    for j in range(0,i):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [258]:
l=65

for i in range(1,6):

    for j in range(1,i+1):

        print(chr(l),end=" ")

        l=l+1

print()

A B C D E F G H I J K L M N O

In [2]:
for i in range(1,5):
    for j in range (0,i):
        print(j, end= " ")
        
    print("")

0
0 1
0 1 2
0 1 2 3

In [1]:
i=1
a = 1
b = 2
while (i<10):
    
    print(s)

NameError: name 's' is not defined

In [289]:
for i in range(4,8):
    print((i-1)*"*"))

SyntaxError: unmatched ')' (1016549810.py, line 2)